.accounts-per-page-wrapper{
    margin: 15px 0;
}
.players-table {
    border: 1px solid black;
}

.header-cell{
    border: 1px solid black;
    min-width: auto;
    padding:10px;
}

.cell{
    border: 1px solid black;
    min-width: auto;
    padding:10px;
}

.active-pagination-button{
    color: red;
}

.hidden {
    visibility: hidden;
}

.pagination-wrapper{
    margin: 15px 0;
}
button {
    background-color: white;
    border: none;
}

button:hover{
    cursor: pointer;
}

.create-form {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    box-sizing: border-box;
}
.create-field {
    display: flex;
    margin-bottom: 10px;
    margin-left: 5px;
}

.create-field-label {
    margin-right: 15px
}

.save-button {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 15px;
    margin-left: 5px;
}
.create-account-header{
    margin-left: 5px;
}